.form {
    background: rgba(40, 65, 80, 0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.form input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #ffffff;
}

.form input[type=submit], input[type=button] {
    border: none;
    width: 190px;
    background: white;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.form input[type=submit]:hover, input[type=button]:hover {
    color: #ffffff;
    background-color: black;
}

.form h2 {
    color: white;
}

.form a {
    color: #ffad57;
    text-decoration: blink;
}

.form a:hover {
    color: skyblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: aliceblue;
    opacity: 0.7;
}

#msg {
    visibility: hidden;
    width: 250px;
    min-height: 20px;
    background-color: #ffad57;
    color: #000000;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    top: 50px;
    font-size: small;
    padding: 5px 0 5px;
    margin: 10px 10px 10px 0;
}

#msg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0}
    to {top: 50px; opacity: 1}
}

@keyframes fadein {
    from {top: 0; opacity: 0}
    to {top: 50px; opacity: 1}
}

@-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1}
    to {top: 0; opacity: 0}
}

@keyframes fadeout {
    from {top: 50px; opacity: 1}
    to {top: 0; opacity: 0}
}







