.frameSizeClass {
    width: 320px;
    height: 240px;
}

.mainFrame {
    width: 320px;
    margin: auto;
}

.photoFrame {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.videoFrame {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, .5);
}

.actionButton {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: 'Work Sans', sans-serif;
    background-color: #1b3643;
}

.actionButton:hover {
    background-color: #365880;
    color: whitesmoke;
}

video {
    width: 100%;
    height: 100%;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.draggable {
    position: absolute;
    width: 100px;
    height: 100px;
}

@media (min-width: 500px) {
    .frameSizeClass {
        width: 480px;
        height: 360px;
    }
    .mainFrame {
        width: 480px;
    }
    .actionButton {
        padding: 10px;
    }
}

@media (min-width: 700px) {
    .frameSizeClass {
        width: 640px;
        height: 480px;
    }
    .mainFrame {
        width: 640px;
    }
}

