html {
    height: 100%;
    background:url("/components/images/cama.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: sans-serif;
    color: #ffffff;
}

.fill {
    /*background-image: url('http://source.unsplash.com/random/150x150');*/
    background-image: url('/components/images/180.jpg');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;
}

.hold {
    border: solid #cccccc 4px;
}

.hovered {
    border-style: dashed;
}

.invisible {
    display: none;
}
