html {
    height: 100%;
    background:url("/components/images/cama.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-family: 'Work Sans', sans-serif;*/
}

body {
    font-family: 'Work Sans', sans-serif;
}

.head {
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 10000;
}

.navbar {
    color: white;
    margin: 10px 10px 10px 0;

}

.navbar a {
    text-decoration: none;
    margin: 5px;
    color: white;
}

.navbar a:hover {
    text-decoration: none;
    color: #ffad57;
}

.menu-wrapper {
    columns: 2 auto;
    font-weight: bold;
}

.right-menu {
    float: right;
    margin-right: 0;
}

.left-menu {
    float: left;
}

.mainFrame {
    width: 320px;
    margin: auto;
}

@media (min-width: 500px) {
    .mainFrame {
        width: 480px;
    }
}

@media (min-width: 700px) {
    .mainFrame {
        width: 640px;
    }
}

.orange p{
    margin: 10px;
    background-color: aquamarine;
    color: #ffad57;
}